module {{.ModulePath}}

go 1.25

require (
	github.com/aws/aws-sdk-go-v2 v1.24.0
	github.com/aws/aws-sdk-go-v2/config v1.26.1
	github.com/aws/aws-sdk-go-v2/credentials v1.16.12
	github.com/aws/aws-sdk-go-v2/feature/dynamodb/attributevalue v1.12.9
	github.com/aws/aws-sdk-go-v2/service/dynamodb v1.26.6
	github.com/caarlos0/env/v10 v10.0.0
	github.com/go-chi/chi/v5 v5.0.11
	github.com/google/uuid v1.5.0
	github.com/jackc/pgx/v5 v5.5.1
	github.com/joho/godotenv v1.5.1
	github.com/testcontainers/testcontainers-go v0.40.0
	github.com/testcontainers/testcontainers-go/modules/postgres v0.40.0
	github.com/vektra/mockery/v2 v2.40.1
	gopkg.in/yaml.v3 v3.0.1
)

